<div class="toolbar">
  <button title="Tạo mới"><i class="fa-regular fa-file"></i></button>
  <button title="Mở"><i class="fa-regular fa-folder-open"></i></button>

  <span class="tool-sep"></span>

  <button onclick="openKhoiHoc()" title="Thêm">
  <i class="fa-solid fa-plus"></i>
</button>
  <button title="Sửa"><i class="fa-regular fa-pen-to-square"></i></button>
  <button title="Xóa"><i class="fa-regular fa-trash-can"></i></button>

  <span class="tool-sep"></span>

  <button title="Lên"><i class="fa-solid fa-arrow-up"></i></button>
  <button title="Xuống"><i class="fa-solid fa-arrow-down"></i></button>
  <button title="Lên đầu"><i class="fa-solid fa-angles-up"></i></button>
  <button title="Xuống cuối"><i class="fa-solid fa-angles-down"></i></button>
</div>
